.App-header {
  display: flex;
  background-color: #c0c781;
  /* position: relative; */
}

.App-header p {
  font-weight: bold;
  font-size: 30px;
  color: #0e402d;
  margin: 1rem;
  justify-content: left;
}

.App-header svg {
  margin-top: auto;
  margin-bottom: auto; /* right: 2rem; */
  margin-left: auto;
  margin-right: 2rem;
}
